body {
	background-color: #30373b;
}

.container {
	max-width: 100%;
	width: 480px;
	/*height: 640px;*/

	background-color: white;

	margin-left: auto;
	margin-right: auto;

	padding-bottom: 20px;
}

.cart-container {
	display: none;
	text-align: right;
	background-color: lightgreen;
	justify-content: space-around;
}

.cart-container button {
	width: 80px;
	height: 50px;
	margin: auto 0;
}

#cart-summary {
	line-height: 60px;
}

.product-container {
	padding-top: 20px;
	min-height: 400px;
	text-align: center;
}

.buttons-container {
	display: flex;
	justify-content: space-around;
}

.buttons-container button {
	width: 40%;
	height: 80px;
}
